CRM_FINAL/CRM.Application/Service References/CRMServiceHost/CRM.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://pendarpajouh.com/Services" elementFormDefault="qualified" targetNamespace="http://pendarpajouh.com/Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/CRM.ServiceHost.CRMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRM.Data.ServiceHost" />
  <xs:import schemaLocation="http://localhost/CRM.ServiceHost.CRMService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="PCMInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TelephonNo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCMInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRM.Data.ServiceHost" minOccurs="0" name="PCMInfoResult" nillable="true" type="q1:ServiceHostCustomClass.TelephoneInfo" />
        <xs:element minOccurs="0" name="Error" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMessages" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTelephoneInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromDateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDateTime" type="xs:dateTime" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="centerCode" nillable="true" type="q2:ArrayOfint" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="requestTypeID" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTelephoneInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CRM.Data.ServiceHost" minOccurs="0" name="ChangeTelephoneInfoResult" nillable="true" type="q4:ArrayOfServiceHostCustomClass.ChangeTelephone" />
        <xs:element minOccurs="0" name="Error" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMessages" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CityInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CityInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CRM.Data.ServiceHost" minOccurs="0" name="CityInfoResult" nillable="true" type="q5:ArrayOfServiceHostCustomClass.CityInfo" />
        <xs:element minOccurs="0" name="Error" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMessages" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CenterInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CenterInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CRM.Data.ServiceHost" minOccurs="0" name="CenterInfoResult" nillable="true" type="q6:ArrayOfServiceHostCustomClass.CenterInfo" />
        <xs:element minOccurs="0" name="Error" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMessages" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestTypeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestTypeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CRM.Data.ServiceHost" minOccurs="0" name="RequestTypeInfoResult" nillable="true" type="q7:ArrayOfServiceHostCustomClass.RequestType" />
        <xs:element minOccurs="0" name="Error" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMessages" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelephoneType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelephoneTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CRM.Data.ServiceHost" minOccurs="0" name="TelephoneTypeResult" nillable="true" type="q8:ArrayOfServiceHostCustomClass.TelephoneType" />
        <xs:element minOccurs="0" name="Error" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMessages" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelephoneGroupType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelephoneGroupTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CRM.Data.ServiceHost" minOccurs="0" name="TelephoneGroupTypeResult" nillable="true" type="q9:ArrayOfServiceHostCustomClass.TelephoneGroupType" />
        <xs:element minOccurs="0" name="Error" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMessages" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CauseOfCut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CauseOfCutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CRM.Data.ServiceHost" minOccurs="0" name="CauseOfCutResult" nillable="true" type="q10:ArrayOfServiceHostCustomClass.CauseOfCutInfo" />
        <xs:element minOccurs="0" name="Error" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMessages" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>