CRM_FINAL/CRM.Application/Web References/HelpDeskService/HelpDeskService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReplyHelpDeskMDFInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phoneNo" type="xs:long" />
        <xs:element minOccurs="0" name="ticketNo" type="xs:long" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplyHelpDeskMDFInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReplyHelpDeskMDFInquiryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>